<div class="hero-unit">
  <table class="table table-striped table-condensed table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th><span rel="tooltip" title="Relative bandwidth weight assigned to this relay by the directory authorities">Consensus Weights</span></th>
        <th><span rel="tooltip" title="Relative advertised bandwidth of this relay compared to the total advertised bandwidth in the network">Advertised Bandwidth</span></th>
        <th><span rel="tooltip" title=" Probability of this relay to be selected for the guard position">Guard Probability</span></th>
        <th><span rel="tooltip" title="Probability of this relay to be selected for the middle position">Middle Probability</span></th>
        <th><span rel="tooltip" title="Probability of this relay to be selected for the exit position">Exit Probability</span></th>
        <th>Nickname</th>
        <th>Fingerprint</th>
        <th>Exit</th>
        <th>Guard</th>
        <th>Country</th>
        <th>Autonomous System</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ result.cw }}</td>
        <td>{{ result.adv_bw }}</td>
        <td>{{ result.p_guard }}</td>
        <td>{{ result.p_middle }}</td>
        <td>{{ result.p_exit }}</td>
        <td>{{ result.nick }}</td>
        <!-- this happens when we do groupings-->
        {% if "relays" in result.fp %}
        <td>{{ result.fp }}</td>
        {% else %}
        <td><a href="https://atlas.torproject.org/#details/{{ result.fp }}">{{ result.fp[:8] }}</a></td>
        {% endif %}
        <td>{{ result.exit }}</td>
        <td>{{ result.guard }}</td>
        <td>{{ result.cc }}</td>
        <td>{{ result.as_info }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
